@import "variables";
@import "media-queries";
@import "bases";
@import "classes";

/*=============== Header ===============*/
.header {
  width: 100%;
  padding: 1rem 1.5rem;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #fbfbfe;
  z-index: var(--z-fixed);
  box-shadow: 0 -1px 4px rgb(0 0 0 / 15%);

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .nav__logo {
    }

    .nav__menu {
      position: fixed;
      bottom: -100%;
      left: 0;
      width: 100%;
      padding: 3.2rem 2.5rem 6.4rem;
      background-color: #fbfbfe;
      border-radius: 2.4rem 2.4rem 0 0;
      box-shadow: 0 -1px 4px rgb(0 0 0 / 15%);
      transition: 0.3s;

      .nav__list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 3.2rem;

        .nav__items {
          .nav__link {
            display: flex;
            flex-direction: column;
            align-items: center;
            font-size: 1.5rem;
            font-weight: 500;

            i {
              font-size: 1.92rem;

              @include media(md, xl) {
                display: none;
              }
            }

            &:hover {
              color: var(--blue);
            }
          }
        }

        @include media(md, xl) {
          display: flex;
          gap: 5.2rem;
          justify-content: flex-end;
        }
      }

      .nav__close {
        position: absolute;
        bottom: 0.5rem;
        right: 2.08rem;
        font-size: 2.4rem;
        color: var(--blue);

        @include media(md, xl) {
          display: none;
        }
      }

      @include media(md, xl) {
        position: unset;
        border-radius: 0;
        box-shadow: unset;
        padding: 0;
      }
    }

    /*===== Show Menu =====*/
    .show-menu {
      bottom: 0;
    }

    .nav__toggle {
      font-size: 2rem;
      cursor: pointer;

      @include media(md, xl) {
        display: none;
      }
    }
  }

  @include media(md, xl) {
    top: 0;
    bottom: initial;
    padding: 1rem 5.6rem 1rem 5.2rem;
  }
}

/*=============== Main ===============*/
.main {
  margin-top: 4rem;
  margin-bottom: 7rem;

  @include media(md, xl) {
    margin-top: 10.5rem;
  }
}

/*============ Home ============*/
.home {
  padding-left: 1rem;
  padding-right: 1.7rem;
  margin-bottom: 2.2rem;

  .home__content {
    margin: 0 4.7rem 1.5rem 3rem;
    p {
      font-size: 1.2rem;
      line-height: 1.8rem;
      color: var(--blue);

      @include media(md, xl) {
        font-size: 1.8rem;
        line-height: 2.7rem;
      }
    }

    h1 {
      @include media(md, xl) {
        width: 54.3rem;
        font-size: 4.8rem;
        line-height: 7.2rem;
      }
    }

    @include media(md, xl) {
      margin-bottom: 4.2rem;
      margin-left: 7rem;
    }

    @include media(xl) {
      margin-left: 22.1rem;
    }
  }

  img {
    width: 100%;
    height: 14.5rem;
    border-radius: 1.8rem;

    @include md {
      height: 25.4rem;
    }

    @include xl {
      height: 35.4rem;
    }
  }

  @include sm {
    padding-left: 4rem;
    padding-right: 5.7rem;
  }

  @include media(md, xl) {
    padding-left: 5.2rem;
    padding-right: 5.6rem;
    margin-bottom: 4.2rem;
  }
}

/*============ Contact ============*/
.contact {
  padding-left: 4rem;
  padding-right: 4.4rem;
  margin-bottom: 7rem;

  .section__title {
    margin-right: 6.4rem;

    @include media(md, xl) {
      width: 36.6rem;
      font-size: 4.8rem;
      line-height: 7.2rem;
    }

    @include xl {
      //margin-left: 22.7rem;
    }
  }

  p {
    font-size: 1.2rem;
    line-height: 1.8rem;
    font-weight: 400;
    color: var(--p-color);
    margin: 2rem 1.6rem 3rem 0;
  }

  @include sm {
    padding-left: 7rem;
    padding-right: 17.4rem;
  }

  @include media(md, xl) {
    margin-left: 10rem;
    padding-right: 4.4rem;
    margin-bottom: 13rem;
    width: 40rem;
  }

  @include xl {
    margin-left: 23rem;
  }
}

/*============ Services ============*/
.services {
  padding-left: 1.5rem;
  padding-right: 1.9rem;
  margin-bottom: 5rem;

  .section__title {
    margin-bottom: 3.4rem;
    margin-left: 3.4rem;

    @include media(md, xl) {
      width: 34.6rem;
    }
  }

  .services__list {
    display: flex;
    flex-direction: column;
    gap: 3.6rem;

    .service {
      min-height: 42.2rem;
      padding: 4.9rem 3.4rem 4.3rem;
      transition: 0.3s;
      cursor: pointer;

      .service__icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 6.7rem;
        height: 6.7rem;
        font-size: 2.7rem;
        color: #fff;
        border-radius: 1.6rem;
      }

      .blue {
        background-color: var(--blue);
      }

      .green {
        background-color: var(--green);
      }

      .red {
        background-color: var(--red);
      }

      .service__title {
        font-weight: 700;
        font-size: 2.4rem;
        line-height: 3.6rem;
        margin-top: 3.5rem;
        margin-bottom: 2.5rem;
      }

      .service_description {
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 2.4rem;
        margin-bottom: 3rem;
        color: var(--p-color);
      }

      .btn {
        font-size: 1.5rem;
        line-height: 2.4rem;
        color: var(--hint);
        border-radius: 1.2rem;
        background-color: #e0e0e0;
        padding: 0.9rem 1.2rem;
        transition: 0.3s;

        &:hover {
          color: #fff;
          background-color: var(--blue);
        }
      }

      &:hover {
        background: #fff;
        box-shadow: 0 1rem 3rem rgba(51, 51, 51, 0.1);
        border-radius: 2.4rem;
      }
    }

    @include xl {
      flex-direction: row;
    }
  }

  @include sm {
    padding-left: 6.5rem;
    padding-right: 10.9rem;
  }

  @include md {
    padding-left: 10.5rem;
    padding-right: 10.9rem;
    margin-bottom: 13rem;
  }

  @include xl {
    padding-left: 16.5rem;
    padding-right: 13.9rem;
    margin-bottom: 13rem;
  }
}

/*============ Our Works ============*/
.works {
  padding-left: 1.5rem;
  padding-right: 1.9rem;
  margin-bottom: 7rem;

  .section__title {
    margin-bottom: 3.4rem;
    margin-left: 3rem;

    @include media(md, xl) {
      width: 44.8rem;
    }
  }

  .works__list {
    display: grid;
    grid-template-rows: 1fr;
    row-gap: 3.6rem;
    margin-bottom: 3.5rem;

    .work {
      width: fit-content;
      img {
        border-radius: 2.4rem;

        @include xl {
          width: 53.4rem;
          height: 53.4rem;
        }
      }

      .work__type {
        color: var(--hint);
        font-size: 1rem;
        line-height: 1.8rem;
        font-weight: 300;
      }

      .work__title {
        font-size: 1.8rem;
        line-height: 2.7rem;
        font-weight: 500;
      }
    }

    @include xl {
      grid-template-columns: 1fr 1fr;
      column-gap: 3rem;

      .work:nth-child(2n-1) {
        margin-top: 13.2rem;
      }
    }
  }

  .works__link {
    color: var(--blue);
    font-size: 1.8rem;
    line-height: 2.7rem;
    display: flex;
    align-items: center;

    @include xl {
      justify-content: flex-end;
    }
  }

  @include sm {
    padding-left: 6.5rem;
    padding-right: 10.9rem;
  }

  @include md {
    padding-left: 10.5rem;
    padding-right: 10.9rem;
    margin-bottom: 13rem;
  }

  @include xl {
    padding-left: 16.5rem;
    padding-right: 17.9rem;
    margin-bottom: 13rem;
  }
}

/*============ Clients ============*/
.clients {
  padding-left: 1.5rem;
  padding-right: 1.9rem;
  position: relative;

  .team {
    .team__intro {
      span {
        color: var(--red);
        font-size: 1.8rem;
        line-height: 2.7rem;
      }

      .section__title {
        margin-bottom: 1.4rem;
        margin-right: 6.6rem;
        font-size: 3.6rem;
        line-height: 5.4rem;

        @include md {
          width: 44.8rem;
        }

        @include xl {
          margin-right: 0.6rem;
        }
      }

      .clients__intro {
        color: var(--p-color);
        font-size: 1.6rem;
        line-height: 2.4rem;
        font-weight: 400;
        margin-bottom: 3.6rem;
        margin-right: 7.3rem;

        @include xl {
          margin-right: 5.3rem;
        }
      }

      @include xl {
        width: 28rem;
        margin-right: 18.5rem;
      }
    }

    .team__pictures {
      margin-bottom: 5rem;
      position: relative;
      width: 34.932rem;
      height: 32.069rem;

      img {
        border-radius: 2.4rem;
        position: absolute;
      }

      .pic__one {
        width: 14.476rem;
        height: 14.476rem;
        top: 0;
        right: 1.7rem;

        @include xl {
          width: 26rem;
          height: 26rem;
          top: -2.4rem;
        }
      }

      .pic__two {
        width: 16.225rem;
        height: 16.703rem;
        bottom: 0;
        right: 0;

        @include xl {
          width: 29.143rem;
          height: 30rem;
        }
      }

      .pic__three {
        width: 17.816rem;
        height: 17.816rem;
        top: 7.063rem;
        left: 0;

        @include xl {
          width: 32rem;
          height: 32rem;
          left: -1.3rem;
        }
      }

      @include xl {
        width: 62rem;
        height: 56rem;
      }
    }

    @include xl {
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin-bottom: 10rem;
    }
  }

  .testimonial {
    .testimonial__content {
      font-size: 2.4rem;
      line-height: 3.6rem;
      margin-bottom: 3rem;

      @include xl {
        font-size: 3.6rem;
        line-height: 5.4rem;
      }
    }

    .testimonial__infos {
      display: flex;
      column-gap: 3rem;

      img {
        width: 8.2rem;
        height: 8.2rem;
        border-radius: 1.2rem;
      }

      .infos__details {
        h4 {
          font-size: 2.4rem;
          line-height: 3.6rem;
          font-weight: 500;
          margin-bottom: 1.2rem;
        }

        p {
          color: var(--hint);
          font-size: 1.8rem;
          line-height: 2.7rem;
        }
      }
    }

    @include xl {
      width: 93.7rem;
    }
  }

  @include sm {
    padding-left: 6.5rem;
    padding-right: 8.9rem;
  }

  @include md {
    padding-left: 10.5rem;
    padding-right: 20.9rem;
    margin-bottom: 13rem;
  }

  @include xl {
    padding-left: 17rem;
    padding-right: 16.657rem;
    margin-bottom: 15rem;
  }
}

/*=============== Footer ===============*/
footer {
  margin-bottom: 5.5rem;
  background-color: #100e1d;
  color: #f2f2f2;
  padding-bottom: 2.4rem;

  .footer__nav {
    display: flex;
    flex-direction: column;
    row-gap: 6.5rem;
    padding: 3.6rem 4.2rem 0 4.4rem;
    margin-bottom: 9rem;

    .footer__nav-list {
      li {
        a {
          color: #fff;
          font-size: 1.8rem;
          line-height: 3.6rem;
          font-weight: 400;
        }
      }
    }

    .footer__links {
      .logo {
        a {
          color: inherit;
          font-size: 3.6rem;
          line-height: 5.3rem;
        }
      }

      .links__list {
        display: flex;
        column-gap: 1.1rem;

        a {
          color: inherit;
          font-size: 2.4rem;
        }
      }
    }

    @include xl {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  p {
    text-align: center;
    color: #f2f2f2;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.7rem;
    font-family: var(--montserrat-font);
    a {
      color: inherit;
    }
  }

  @include media(md, xl) {
    margin-bottom: 0;
  }

  @include xl {
    padding-left: 16.8rem;
    padding-right: 13.7rem;
  }
}
